<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {# <link rel="stylesheet" type="text/css" href="/styles/fonts.css" >#}
  {# <link rel="stylesheet" type="text/css" href="/styles/app.css">#}


  {# <link rel="manifest" href="/manifest.json"> #}
  {# <link rel="shortcut icon" href="/favicon.ico"> #}

    <title>Auryn workshop</title>
</head>
<body class="fix-sidebar card-no-border">
    <div id="main-wrapper">

        {% include 'admin/site_javascript.html' %}
        {% block page_body %}
        Page body goes here. Did you accidentally extend base.html by mistake?
        {% endblock %}

    </div>
</body>


{# <script type="text/javascript" src="/js/vendor.js" defer></script> #}
{# <script type="text/javascript" src="/js/app.js" defer></script> #}

</html>
