<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Company information and metrics">
    <meta name="author" content="Scredible">

    <link rel="stylesheet" type="text/css" href="/css/fonts.css" >
    <link rel="stylesheet" type="text/css" href="/css/app.css">

    <!--<link rel="manifest" href="/manifest.json">-->
    <link rel="shortcut icon" href="/favicon.ico">
    <style>
      *{
        box-sizing: border-box;
      }
      html {
        font-size: 62.5%;
      }
      html, body {
        margin: 0;
        padding: 0;
      }
    </style>
    <title>Scredible</title>
</head>
<body>
    {% block page_body %}
      /templates/layout/standard.html goes here
    {% endblock %}
</body>

<!-- <script type="text/javascript" src="/js/vendor.js"  defer></script> -->


</html>
